:root {
    --main-title-color: #212121;
    --main-text-color: #757575;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", "sans-serif";
}

.list {
    list-style: none;
    text-decoration: none;
}

.conteiner {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*-----------header----------*/

.header {
    background: #FFFFFF;
    padding-top: 24px;
    height: 80px;
    border-bottom: 1px solid #ECECEC;
}
.header .conteiner {
    display: flex;
    align-items: center;    
}
.logo-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    margin-right: 94px;     
}
.logo-studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}

.header-nav-list {
    display: flex;
    gap: 50px;
}

.header-item {
    font-weight: 500;
    line-height: 1.14;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--main-title-color);

    position: relative;
}

.header-contact-pre {
    display: flex;
    margin-left: auto;
    gap: 50px;
}

.header-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.nav-hover:hover,
.nav-hover:focus {
    color: #2196F3;    
}

.nav-hover,
.header-contact-pre-link {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.st-underlining::after {
    content: "";
    position: absolute;
    height: 4px;
    border-radius: 2px;
    background: #2196F3;
    top: 44px;
    left: 0;
    width: 100%;
}

.po-underlinin::after {
    content: "";
    position: absolute;
    height: 4px;
    border-radius: 2px;
    background: #2196F3;
    top: 44px;
    left: 0;
    width: 100%;
}

.header-contact-pre-icon {
    margin-right: 10px;
}

.header-contact-pre-link {
    fill: #757575;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
}

.header-contact-pre-link:hover,
.header-contact-pre-link:focus {
    fill: #2196F3;
}

/*-----------sectoin slogan----------*/

.slogan {
    background-image: linear-gradient(
         rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)),
    url(../images/Slogan.jpg);
    max-width: 1600px;
    margin: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    

}

.slogan-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF; 
    margin-bottom: 30px; 
}

.slogan-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: #2196F3;
    margin: 0 auto;
    display: block;    
    cursor: pointer;
}

/*-----------subtitle----------*/

.section-subtitle {
    background: #FFFFFF;
    padding-top: 94px;
}

.subtitle-list {
    display: flex;
    gap: 30px;
}

.subtitle-title {
    padding-top: 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color:  var(--main-title-color);
}

.subtitle-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color:  var(--main-text-color);
    width: 270px;
    padding-top: 10px;
}

.subtitle-list-icons {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;

}
.subtitle-item-icons {
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    display: flex;
    gap: 30px;
    border-radius: 4px;
    align-items: center;  
    justify-content: center;
}

/*-----------subject----------*/

.section-subject {
    background: #FFFFFF;
    padding-top: 94px;
    padding-bottom: 94px;
    
}

.subject-list {
    display: flex;
    gap: 30px;
}

.subject-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:  var(--main-title-color);
    margin-bottom: 50px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.subject-text {
    position: relative;
}

.subject-top-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);;
    width: 370px;
    height: 70px;    
    position: absolute;
    bottom: 0;
    padding-top: 27px;
}

/*-----------team----------*/

.section-team {
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:  #212121;
    margin-bottom: 50px;    
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-item {
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      
}

.team-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color:  var(--main-title-color);
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color:  var(--main-text-color);
    padding-top: 10px;
}

.team-subtitle-text {
    padding-top: 30px;
    background-color: #FFFFFF;
    padding-bottom: 30px;    
}

.team-soc {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}

.taem-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

    
.team-soc-icon {
    fill: #AFB1B8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.taem-soc-link:hover,
.taem-soc-link:focus {
    background-color: #2196F3;
}

.taem-soc-link:hover .team-soc-icon,
.taem-soc-link:focus .team-soc-icon {
    fill: #FFFFFF;
}

/*-----------regular-clients----------*/

.regular-clients {
    padding-top: 94px;
    padding-bottom: 94px;
}
.regular-clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.regular-clients-list {
    display: flex;
    justify-content: center;
    gap: 30px;
 }
.regular-clients-item {
    width: 170px;
    height: 92px;
}

.regular-clients-link { 
    width: 100%;
    height: 100%; 
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center; 
    color: #AFB1B8;
    transition-property: border-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
          
}
.regular-clients-icons {
    fill: currentColor;
}

.regular-clients-link:hover,
.regular-clients-link:focus {
    border-color: #2196F3;
    color: #2196F3;
}


/*-----------footer----------*/

.footer {
    background-color: #2F303A;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.footer-logo-studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-top: 20px;    
}

.footer-item-pre {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-item {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF99;
}

.footer-icon {
    padding-top: 8px;
    margin-right: 93px;
}
.footer-icon-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer-icon-list {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.footer-icon-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
    
}
.footer-icon-icons {
    fill: #FFFFFF;
}

.footer .conteiner {
    display: flex;
}

.footer-conteiner {
    margin-right: 70px;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: #2196F3;
}

.footer-input {
    padding-top: 8px;
}
.footer-input-title {
    font-weight: 700;
    line-height: 1.14;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 20px;
    
}
.form-footer-input {
    width: 358px;
    height: 50px;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    padding-left: 16px;
    margin-right: 12px;
}
.footer-input-button {
    display: inline-flex;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;    
}

.footer-icon-button {
    fill: currentColor;
    margin-left: 10px;
}

/*-----------button-section----------*/

.button-section {
    background: #FFFFFF;
    padding-top: 94px;
    padding-bottom: 94px;
     
}
.button-list {
    display: flex;
    gap: 8px;
    justify-content: center;
}
.button-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    color: var(--main-title-color);
    border-radius: 4px;
    border: none;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
    
}

.button-item:hover,
.button-item:focus {
    background-color: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.images-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.images-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}

.sutitle-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-title-color);
    
}

.tipe-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    padding-top: 4px;
}

.images-item {
    width: 370px;
    border: 1px solid #EEEEEE;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
        
}

.images-item:hover .images-top-text {
    transform: translateY(0);
    
}

.images-top-text {
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: rgba(33, 150, 243, 0.9);
    bottom: 0;
    height: 100%;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 63px;
    transform: translateY(100%);
    transition: transform 300ms linear;
    overflow: auto;
}

.images-top-wrap {
    position: relative;
    overflow: hidden;
}

.name-text {
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
}

/*-----------modal----------*/

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000033;
    transition-duration: 500ms;  
      
}
.modal {
    position: absolute;
    width: 528px;
    min-height: 581px;
    background-color: #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;   
    padding: 40px;
    
}

.modal-close {
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center; 
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    border: 1px solid #0000001A;
    background-color: #FFFFFF;
        
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;  
    color: #212121;
    margin-bottom: 14px;
}

.form-input {
    outline: none;
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    padding-left: 42px;
    transition-property: border-radius, color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.form-footer-input {
    color: rgba(255, 255, 255, 0.6);
}

.form-input:hover,
.form-input:focus {    
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #2196F3;
    border-radius: 4px;
    
}

.form-input:hover + .input-icon {
    fill: #2196F3
}

.input-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
    display: block;
    margin-bottom: 4px;
    cursor: pointer;
}

.input-field {
    margin-bottom: 10px;
}

.input-wrap {
    position: relative;
}
.input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);

    fill: currentColor;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-text {
    outline: none;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-text:hover,
.modal-text:focus {
    width: 100%;
    height: 120px;
    border: 1px solid #2196F3;
    border-radius: 4px;
}

.modal-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    width: 200px;
    height: 50px;
    background: #188CE8;
    /* border-color: #188CE8; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 0 auto;
    display: block;    
    cursor: pointer;

    border: none;
}

.check-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-text span {
    width: 16px;
    height: 15px;
    border: 2px solid #090b13;
    border-radius: 3px;
    color: #757575;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 300ms linear;
    margin-right: 8.4px;
}

.check-icon {
    fill: transparent;
}

.input-check:checked + .check-text span {
    background-color: #188CE8;
    border-color: #188CE8;
}

.input-check:checked + .check-text .check-icon {
    fill: #FFFFFF;
}

.icon-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
}

.input-radio {
    margin-bottom: 30px;
}

.check-icon-link {
    margin-left: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.close-black {
    fill: #000000;
}

.close-black:hover,
.close-black:focus {
    fill: #2196F3;
    cursor: pointer;
}