:root {
    --main-title-color: #212121;
    --main-text-color: #757575;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", "sans-serif";
}

.list {
    list-style: none;
    text-decoration: none;
}

.conteiner {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    /* outline: 2px solid red; */
}

/*-----------header----------*/

.header {
    background: #FFFFFF;
    padding-top: 24px;
    height: 80px;
    border-bottom: 1px solid #ECECEC;
}
.header .conteiner {
    display: flex;
    align-items: center;
    
}
.logo-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    margin-right: 94px;
     
}
.logo-studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}
.header-nav {        
}

.header-nav-list {
    display: flex;
    gap: 50px;
}

.header-item {
    font-weight: 500;
    line-height: 1.14;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
}

.header-contact-pre {
    display: flex;
    margin-left: auto;
    gap: 50px;

}

.header-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.nav-hover:hover {
    color: #2196F3;    
}

.nav-hover:focus {
    color: #2196F3;
    /* background-color: tomato; */  
}

/*-----------sectoin slogan----------*/

.slogan {
    background: #2F303A;
    /* width: 1600px; */
    height: 600px;
    /* margin: auto; */
    padding-top: 200px;
}

.slogan-conteiner {
    /* margin-bottom: 200px; */
}

.slogan-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF; 
    margin-bottom: 30px;   
    /* padding-top: 200px; */
    /* margin-top: 200px; */
}

.slogan-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    /* margin-top: 50px; 
    margin-left: 485px; */
    border-radius: 4px;
    margin: 0 auto;
    display: block;    
}

/*-----------subtitle----------*/

.section-subtitle {
    background: #FFFFFF;
    padding-top: 94px;
}

.subtitle-list {
    /* margin-top: 94px; */
    display: flex;
    gap: 30px;
    /* padding-top: 94px */;
}

.subtitle-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color:  var(--main-title-color);
}

.subtitle-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color:  var(--main-text-color);
    width: 270px;
    /* margin-top: 10; */
    padding-top: 10px;
}

/*-----------subject----------*/

.section-subject {
    background: #FFFFFF;
    /* margin-top: 94px; */
    padding-top: 50px;
    
}

.subject-list {
    display: flex;
    gap: 30px;
    /* margin-top: 50px; */
    /* padding-top: 50px; */
    /* padding-bottom: 94px; */
}

.subject-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:  var(--main-title-color);
    /* padding-top: 50px */
    padding-bottom: 50px;
}

/*-----------team----------*/

.section-team {
    background: #F5F4FA;
    /* margin: auto; */
    /* margin-top: 94px; */
   /*  margin-bottom: 94px; */
    /* width: 1600px; */
    /* height: 648px;  */
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:  #212121;
    margin-bottom: 50px;
    /* padding-bottom: 50px; */
    
}

.team-list {
    display: flex;
    gap: 30px;
    /* padding-bottom: 94px;  */
}

.team-item {
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    
    
}

.team-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color:  var(--main-title-color);
    /* padding-top: 30px; */
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color:  var(--main-text-color);
    padding-top: 10px;
}

.team-subtitle-text {
    padding-top: 30px;
    background-color: #FFFFFF;
    /* border-radius: 0px 0px 4px 4px; */
    padding-bottom: 30px;
    
}

/*-----------footer----------*/

.footer {
    background-color: #2F303A;
    height: 252px;
    /* width: 1600px; */
    margin: auto;
    padding-top: 60px;
}

.footer-logo-studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding-top: 20px;    
}

.footer-item-pre {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-item {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF99;

}

/*-----------button-section----------*/

.button-section {
    background: #FFFFFF;
    padding-top: 94px;
    padding-bottom: 94px;
     
}
.button-list {
    display: flex;
    gap: 8px;
    justify-content: center;
/*     padding-left: 280px;
    padding-top: 94px; */
}
.button-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    color: var(--main-title-color);
    border-radius: 4px;
    border-color: #F5F4FA;
    padding-left: 22px;
    padding-right: 22px;
    height: 50px;
}

.button-hover:hover {
    background-color: #2196F3;
    color: #FFFFFF;
}

.images-list {
    display: flex;
    gap: 26px;
    flex-wrap: wrap;
    margin-top: 50px;
/*     padding-top: 50px;
    padding-bottom: 94px; */
}

.sutitle-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-title-color);
    
}

.tipe-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    padding-top: 4px;
}

.images-item {
    border: 1px solid #EEEEEE;
}

.name-text {
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
}