.footer {
    background-color: #2F303A;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .conteiner {
    display: flex;
}

.logo {
    margin-right: 70px;

    &__web {
        font-family: 'Raleway';
        font-style: normal;
        @include font (700, 26px, 1.19, 0.03em);
        color: var(--main-item-color);
    }
    
    &__studio {
        font-family: 'Raleway';
        font-style: normal;
        @include font (700, 26px, 1.19, 0.03em);
        color: var(--main-general-color);
    }
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-top: 20px;
    
    &__item-pre {
        @include font (400, 14px, 1.7, 0.03em);
        color: var(--main-general-color);
    }
    
    &__item {
        @include font (400, 14px, 1.7, 0.03em);
        color: #FFFFFF99;
    }
}



.network {
    padding-top: 8px;
    margin-right: 93px;
    &__title {
        @include font (700, 14px, 1.14, 0.03em);
        text-transform: uppercase;
        color: var(--main-general-color);
    }
    &__list {
        margin-top: 20px;
        display: flex;
        gap: 10px;
    }
    
    &__link {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color:rgba(255, 255, 255, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
    }
    &__icons {
        fill: var(--main-general-color);
    }
    
    &__link:hover,
    &__link:focus {
        background-color: var(--main-item-color);
    }
}

.subscription {
    padding-top: 8px;
    &__input-title {
        @include font (700, 14px, 1.14, 0.03em);
        text-transform: uppercase;
        color: var(--main-general-color);
        margin-bottom: 20px;
        
    }
    &__form-input {
        width: 358px;
        height: 50px;
        background-color: #2F303A;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        padding-left: 16px;
        margin-right: 12px;
        color: rgba(255, 255, 255, 0.6);;
    }
    &__input-button {
        display: inline-flex;
        width: 200px;
        height: 50px;
        align-items: center;
        justify-content: center;
    
        font-family: 'Roboto';
        font-style: normal;
        @include font (700, 16px, 1.88, 0.06em);
        color: var(--main-general-color);
        background: var(--main-item-color);
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: none; 
        cursor: pointer;   
    }
    
    &__icon-button {
        fill: currentColor;
        margin-left: 10px;
    }
}
