.header {
    background: #FFFFFF;
    padding-top: 24px;
    height: 60px;
    border-bottom: 1px solid #ECECEC;
    @media screen and (min-width: 768px) {
        /* max-width: 768px; */
        height: 80px;
    }
    @media screen and (min-width: 1200px) {
        /* max-width: 1200px; */
        height: 80px;
        
    }
    
& .conteiner {
    display: flex;
    align-items: center;    
}

&-nav-list {
    display: flex;
    gap: 50px;
    @media screen and (min-width: 768px) {
        max-width: 768px;
    }
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }    
}

&-item {
    font-weight: 500;
    line-height: 1.14;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--main-title-color);

    position: relative;
}

&-contact-pre {
    display: none;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        max-width: 768px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        
        margin-left: 84px;        
    }
    @media screen and (min-width: 1200px) {
        /* max-width: 1200px; */
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        margin-right: 0px;
    }  
}

&-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    @media screen and (min-width: 768px) {
        max-width: 768px;
        font-size: 12px;
    }      
    
}

&-contact-pre-icon {
    margin-right: 10px;
}

&-contact-pre-link {
    fill: #757575;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
}

&-contact-pre-link:hover,
&-contact-pre-link:focus {
    fill: #2196F3;
}
}

.header-nav {
    display: none;
    @media screen and (min-width: 768px) {
        max-width: 768px;
        display: block;
    }
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
        display: block;
    }    
}


.logo-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #2196F3;
    margin-right: 15px;
    @media screen and (min-width: 480px) {
        /* max-width: 480px; */
        font-size: 24px;
        line-height: 1.16;
    }
    @media screen and (min-width: 768px) {
        
        font-size: 24px;
        line-height: 1.16;
        margin-right: 58px;
    }      
    @media screen and (min-width: 1200px) {
        
        font-size: 26px;
        line-height: 1.19;
        margin-right: 93px;
    }   
}
.logo-studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #000000;
    @media screen and (min-width: 480px) {
        max-width: 480px;
        font-size: 24px;
        line-height: 1.16;
    }     
    @media screen and (min-width: 768px) {
        max-width: 768px;
        font-size: 24px;
        line-height: 1.16;
    }      
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
        font-size: 26px;
        line-height: 1.19;
        margin-right: 88px;
    }   
}

.nav-hover:hover,
.nav-hover:focus {
    color: #2196F3;    
}

.nav-hover,
.header-contact-pre-link {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.st-underlining::after {
    content: "";
    position: absolute;
    height: 4px;
    border-radius: 2px;
    background: #2196F3;
    top: 44px;
    left: 0;
    width: 100%;
}

.po-underlinin::after {
    content: "";
    position: absolute;
    height: 4px;
    border-radius: 2px;
    background: #2196F3;
    top: 44px;
    left: 0;
    width: 100%;
}

.mobile-button {
    background-color: var(--main-general-color);
    border: none;
    margin-left: auto;
    cursor: pointer;
    @media screen and (min-width: 768px) {
        max-width: 768px;
        display: none;
    }
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
        display: none;
    }
}
.momile-icons {
    justify-content: center;
    align-content: center;
    @media screen and (min-width: 768px) {
        max-width: 768px;
        display: none;
    }
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
        display: none;
    }
}

.mob-menu {
    position: fixed;
    z-index: 1;
    background-color: var(--main-general-color);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 48px;
    padding-bottom: 48px;
}



.menu-close-btn {
    position: absolute;
    right: 15px;
    top: 10px;
}

.menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.menu-contact-pre {
    margin-top: 302px;
    
}

.menu-contact-m {
    padding-bottom: 50px;
}

.menu-item {
    @include font (500, 40px, 1.175, 0.02em);
    color: var(--main-title-color);
}

.menu-item:hover,
.menu-item:focus {
    color: var(--main-item-color)
}

.menu-tel-link {
    @include font (500, 34px, 1.17, 0.02em);
    color: var(--main-item-color);
}

.menu-mail-link {
    @include font (500, 24px, 1.16, 0.02em);
    color: var(--main-text-color);
}

.menu-network {
    display: flex;
    gap: 10px;
    margin-top: 64px;

}

.menu-network-item {
    color: var(--main-item-color);    
}

.menu-network-list:not(:last-child) {
    color: var(--main-item-color);
    border-right: 1px solid rgba(33, 33, 33, 0.2); 
    padding-right: 10px;
}

.menu-close-black {
    border: none;
}

.menu-close-btn {
    border: none;
    background-color: var(--main-general-color);
    margin-top: 20px;
    margin-right: 25px;
}

.menu-close-black:hover,
.menu-close-black:focus {
    fill: var(--main-item-color)
}

.menu-button {
    margin-right: auto;
}