.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000033;
    transition-duration: 500ms;  
      
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    width: 528px;
    min-height: 581px;
    background-color: #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;   
    padding: 40px;
    &-close {
        width: 30px;
        height: 30px;
        align-items: center;
        justify-content: center; 
        position: absolute;
        right: 10px;
        top: 10px;
        border-radius: 50%;
        border: 1px solid #0000001A;
        background-color: #FFFFFF;
            
    }
    
    &-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;  
        color: #212121;
        margin-bottom: 14px;
    }
    
    &-text {
        outline: none;
        width: 100%;
        height: 120px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        resize: none;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 16px;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
    
    &-text:hover,
    &-text:focus {
        width: 100%;
        height: 120px;
        border: 1px solid #2196F3;
        border-radius: 4px;
    }
    
    &-button {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        width: 200px;
        height: 50px;
        background: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        margin: 0 auto;
        display: block;    
        cursor: pointer;
        border: none;
    }
}

.form-input {
    outline: none;
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    padding-left: 42px;
    transition-property: border-radius, color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.form-footer-input {
    color: rgba(255, 255, 255, 0.6);
}

.form-input:hover,
.form-input:focus {    
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #2196F3;
    border-radius: 4px;    
}

.form-input:hover + .input-icon {
    fill: #2196F3
}

.input-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
    display: block;
    margin-bottom: 4px;
    cursor: pointer;
}

.input-field {
    margin-bottom: 10px;
}

.input-wrap {
    position: relative;
}
.input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);

    fill: currentColor;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}


.check-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-text span {
    width: 16px;
    height: 15px;
    border: 2px solid #090b13;
    border-radius: 3px;
    color: #757575;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 300ms linear;
    margin-right: 8.4px;
}

.check-icon {
    fill: transparent;
}

.input-check:checked + .check-text span {
    background-color: #188CE8;
    border-color: #188CE8;
}

.input-check:checked + .check-text .check-icon {
    fill: #FFFFFF;
}

.icon-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
}

.input-radio {
    margin-bottom: 30px;
}

.check-icon-link {
    margin-left: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.close-black {
    fill: #000000;
}

.close-black:hover,
.close-black:focus {
    fill: #2196F3;
    cursor: pointer;
}