.subject {
    background: var(--main-general-color);
    padding-top: 94px;
    padding-bottom: 94px;
    
&__list {
    display: flex;
    gap: 30px;
}

&__title {
    @include font (700, 36px, 1.16, 0.03em);
    text-align: center;
    color:  var(--main-title-color);
    margin-bottom: 50px;
}

&__text {
    position: relative;
}

&__top-text {
    @include font (700, 14px, 1.14, 0.03em);   
    text-align: center;
    text-transform: uppercase;
    color: var(--main-general-color);
    background-color: rgba(47, 48, 58, 0.8);;
    width: 370px;
    height: 70px;    
    position: absolute;
    bottom: 0;
    padding-top: 27px;
}
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}